{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kuelc</title>
  <link
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
   <link rel="stylesheet" href="{% static 'poll/home.css' %}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="inner-width">
      <a href="/" class="logo"></a>
      <button class="menu-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#works">Portfolio</a>
        <a href="{% url 'position' %}">Voting portal</a>
      </div>
    </div>
  </nav>
  <!-- Home -->
  <div class="full-screen">
    <video src="{% static 'img/elc.mp4' %}" autoplay  muted loop></video>
    <div class="content">
      <img src="{% static 'img/lg.png' %}" style="width:250px ;">
      <a href="{% url 'position' %}">Vote in new Leaders</a>
    </div>
  </div>

  <!-- Home -->
  <section id="about">
    <div class="inner-width">
      <h1 class="section-title">About us</h1>
      <div class="about-content">
        <img src="{% static 'img/pic.png' %}" alt="" class="about-pic">
        <div class="about-text">
          <h2>Kenyatta University Equity Leaders Chapter (KU~ELC)</h2>
          <h3>
            <span>Young</span>
            <span>Empowered</span>
            <span>Leaders</span>
          </h3>
          <p>
            Kenyatta University Equity Leaders Chapter (KU~ELC) is a congeries of all Wings to Fly(WtF)
            alumni and Equity Leaders Programme(ELP)
            scholars at Kenyatta University. KU~ELC is not just
            a chapter or club  but also a family for this
            assemblage of future leaders. As a team, we mainly
            stress on the following key aspects: unity amongst
            ourselves, equality in opportunities, networking,
            mentorship, leadership career development among
            other areas.
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Works -->
  <section id="works" class="dark">
    <div class="inner-width">
      <h1 class="section-title">Portfolio</h1>
      <div class="works">
        <a href="{% static 'img/works/poster.jpg'%}" class="work" style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/poster.jpg'%}" alt="">
          <div class="info">
            <h3>KUELC EXECUTIVE</h3>
            <div class="cat">2020/2021</div>
          </div>
        </a>

        <a href="{% static 'img/works/2.jpg'%}" class="work" style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/2.jpg'%}" alt="">
          <div class="info">
            <h3>Breakfast meeting</h3>
            <div class="cat">cake</div>
          </div>
        </a>

        <a href="{% static 'img/works/3.jpg'%}" class="work"style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/3.jpg'%}" alt="">
          <div class="info">
            <h3>Breakfast meeting</h3>
            <div class="cat">Members</div>
          </div>
        </a>

        <a href="{% static 'img/works/4.jpg'%}" class="work"style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/4.jpg'%}" alt="">
          <div class="info">
            <h3>Breakfast meeting</h3>
            <div class="cat">Faithy, Alumni</div>
          </div>
        </a>

        <a href="{% static 'img/works/5.jpg'%}" class="work"style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/5.jpg'%}" alt="">
          <div class="info">
            <h3>Breakfast meeting</h3>
            <div class="cat">Members on session</div>
          </div>
        </a>

        <a href="{% static 'img/works/6.jpg'%}" class="work"style="width: 380px;height: 250px;">
          <img src="{% static 'img/works/6.jpg'%}" alt="">
          <div class="info">
            <h3>Breakfast meeting</h3>
            <div class="cat">President, Kenyatta University</div>
          </div>
        </a>
      </div>
    </div>
  </section>



   <!-- Go Top BTN -->
   <button class="goTop fas fa-arrow-up"></button>

  <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>