{% extends "poll/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% load widget_tweaks %}


<div class="grid">
  <h2>Password Change Form</h2>
  
  <form action="" method="POST" class="form login">
    {% csrf_token %}

      <div class="form__field">
          <span class="hidden">Username</span></label>
          {{form.old_password}}
      </div>

      <div class="form__field">
          <span class="hidden">Password</span></label>
          {{form.new_password}}
      </div>

      <div class="form__field">
        <span class="hidden">Password</span></label>
        {{form.new_password_confirmation }}
      </div>

      <div class="form__field">
          <input type="submit" value="Change password">
      </div>

  </form>

  <p class="text--center">Is your password secure? <a href="{% url 'dashboard' %}">Dashboard</a> <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
      </svg></p>

</div>


{% endblock %}

